html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#experience a:not(.MuiButtonBase-root) {
  color: #dc004e;
  text-decoration: none;
}

#experience a:hover:not(.MuiButtonBase-root) {
  text-decoration: underline;
}

.scroll-progress {
  height: 3px;
  background-color: #ff4646;
}

/* customisation to navbar improvement in mobile view */
.MuiDrawer-paper {
  height: 100vh !important;
}

.MuiBackdrop-root {
  height: 100vh !important;
}

.MuiPaper-elevation1 {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.MuiPaper-elevation1:hover {
  box-shadow: 0 7px 30px -5px rgba(150, 170, 180, 0.5) !important;
}

.MuiDialogContent-root {
  min-height: 200px;
}

.vertical-timeline::before {
  background: #5d5d5daf !important;
}

/* fix of issue in display of github contributions */
.styles_chart__316M8 svg {
  width: 100%;
}

.styles_chart__316M8 svg g {
  width: 25px;
}

svg text {
  fill: #b5a7ff !important;
}

/* home section customisation */
#home {
  margin: 0;
  width: 100%;
  min-height: 93vh;
  align-items: center;
  justify-content: center;
}

#home #text {
  margin-top: 30px;
}

#home #text h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 54px;
  text-align: center;
}

#highlight {
  color: #e31b6d;
  transition: 0.8s all ease-in;
}

#highlight:hover {
  text-shadow: 0px 0px 6px #e31b6e81;
}

.contacts-link {
  padding: 5px;
  width: 100%;
  text-align: center;
}

.p-10 img {
  padding-top: 10px;
}

.r-50 img {
  border-radius: 50%;
}

.lazy-load-image-background,
.lazy-load-image-loaded img {
  object-fit: cover;
}

.mt-3 {
  margin-top: 3rem;
}

.d-sm-none {
  display: none;
}

/* beating heart animation */
.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 20px;
}

.heart-anim {
  animation: pulse1 1s ease infinite;
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fadeInUp {
  animation-duration: 0.45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 960px) {
  #home #text h1 {
    font-size: 42px;
  }
  .MuiTypography-h2 {
    font-size: 32px !important;
  }
}

@media (min-width: 40rem) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #3f3f3f;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b9b9b9;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px #252525;
    background-color: #3f3f3f;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: #464646;
  }
}

@media (min-width: 30rem) {
  .navbar-margin {
    margin: auto 0;
  }
}

@media (max-width: 30rem) {
  #home #text h1 {
    font-size: 32px;
  }
  .MuiTypography-h2 {
    font-size: 25px !important;
  }
  .scroll-progress {
    height: 2px !important;
  }
}
